*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.start{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(135deg, red 35%, white 45% ,blue 100%);
    text-align: center;
}
h1.title{
    font-family: arial, 'sans-serif';
    color: white;
    padding: 50px 40px 0 40px;
    font-size: 40px;
    text-transform: uppercase;
}
h2.choice{
    text-transform: uppercase;
    font-family: arial, 'sans-serif';
    padding: 20px 0;
}
div.buttons{
    margin-top: 40vh;
}
button{
    font-family: arial, 'sans-serif';
    background-color: transparent;
    font-size: 17px;
    margin: 0 10px;
    padding: 10px;
    border: 3px solid black;
    cursor:pointer;
}
button:hover{
    background-color: black;
    border-color:black;
    color:white;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 90vh;
}
div.easy{
flex-basis: 22%;
height: 25vh;
flex-grow: 1;
border: 5px solid white;

}
div.medium {
    flex-basis: 22%;
height: 16.66vh;
flex-grow: 1;
border: 5px solid white;

}
div.hard{
    flex-basis: 15%;
height: 16.66vh;
flex-grow: 1;
border: 5px solid white;

}
div.active{
    background-color: #333 !important; 
}
div.unactive{
    background-color:white !important;
}
/*media*/
@media (orientation:portrait) and (min-width:370px){
h2.choice{
font-size: 40px;
}
button{
    font-size: 25px;
}
}
@media (orientation:portrait) and (min-width:720px){
    h1.title{
        font-size: 70px;
    }
    h2.choice{
    font-size: 60px;
    }
    button{
        font-size: 45px;
    }
    }
    @media (orientation:landscape){
        h1.title{
            color:black;
        }
        div.buttons{
            margin-top: 20vh;
        }
    }
    @media (orientation:landscape)and (min-width:720px){
        h1.title{
            font-size: 60px;
        }
        h2.choice{
            font-size: 40px;
        }
        button{
            font-size: 30px;
        }
    }
    @media(min-width:1024px){
        h1.title{
            font-size: 80px;
        }
        h2.choice{
            font-size: 60px;
        }
        
        button{
            border-width: 5px;
            font-size: 45px;
            margin-top: 5vh;
        }
    }